<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LivetCask" version="4.0.2" targetFramework="net472" />
  <package id="LivetCask.Behaviors" version="4.0.2" targetFramework="net472" />
  <package id="LivetCask.Collections" version="4.0.2" targetFramework="net472" />
  <package id="LivetCask.Converters" version="4.0.2" targetFramework="net472" />
  <package id="LivetCask.Core" version="4.0.2" targetFramework="net472" />
  <package id="LivetCask.EventListeners" version="4.0.2" targetFramework="net472" />
  <package id="LivetCask.Messaging" version="4.0.2" targetFramework="net472" />
  <package id="LivetCask.Mvvm" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
</packages>